PORT=3000
NODE_ENV = development

DB_HOST=db
DB_PORT=5432
DB_NAME=brosmed_inventory
DB_USERNAME=brosmed_inventory
DB_PASSWORD=brosmed_inventory_password

JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=1d

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin12345
WAREHOUSE_USERNAME=warehouse
WAREHOUSE_PASSWORD=warehouse12345


POSTGRES_USER=brosmed_inventory
POSTGRES_PASSWORD=brosmed_inventory_password
POSTGRES_DB=brosmed_inventory