PORT=3000
NODE_ENV = development

DB_HOST=db
DB_PORT=5432
DB_NAME=brosmed_inventory
DB_USERNAME=brosmed_inventory
DB_PASSWORD=brosmed_inventory_password

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=generate-a-secure-random-string-here-at-least-32-chars
JWT_EXPIRES_IN=1d

ADMIN_USERNAME=nodir_hamrayev
ADMIN_PASSWORD=12345678
WAREHOUSE_USERNAME=warehouse
WAREHOUSE_PASSWORD=warehouse12345

TELEGRAM_BOT_TOKEN=your-telegram-bot-token-here
BOT_MODE=polling
BOT_WEBHOOK_URL=https://example.com/bot/webhook
BOT_WEBHOOK_SECRET=generate-a-random-secret-token


POSTGRES_USER=brosmed_inventory
POSTGRES_PASSWORD=brosmed_inventory_password
POSTGRES_DB=brosmed_inventory
