PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=brosmed-inventory
DB_SYNC=true

JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=1d

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin12345
WAREHOUSE_USERNAME=warehouse
WAREHOUSE_PASSWORD=warehouse12345
